/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background-color: #0f0e17;
}

/* Form container styles */
#form {
    width: 400px;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
    outline: solid rgb(0, 0, 0) 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Circle styles inside the form */
#form div {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    border: black 1px solid;
    transition: all 0.5s;
}

#form div:hover, .cc {
    transform: scale(1.3);
}

/* Input styles */
#form button{
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: #fffffe;
    transition: all 0.3s;
    width: 100px;
}
.f:hover{
    box-shadow: 0 0 20px 5px red !important;
}
@media(max-width:410px){
    #form{
        width: 250px;
    }
        #form button{
            margin-top: 10px;
        }
}
/* Hover effects for specific circles */
#c1:hover {
    box-shadow: 0 0 20px 6px #001858;
}
#c2:hover {
    box-shadow: 0 0 20px 6px #271c19;
}
#c3:hover {
    box-shadow: 0 0 20px 6px #33272a;
}
#c4:hover {
    box-shadow: 0 0 20px 6px #272343;
}
#c5:hover {
    box-shadow: 0 0 20px 6px #c0c0c0;
}
#c6:hover {
    box-shadow: 0 0 20px 6px #232946;
}
#c7:hover {
    box-shadow: 0 0 20px 6px #c0c0c0;
}
#c8:hover {
    box-shadow: 0 0 20px 6px #001e1d;
}
#c9:hover {
    box-shadow: 0 0 20px 6px #0d0d0d;
}
#c10:hover {
    box-shadow: 0 0 20px 6px #232323;
}
#c11:hover {
    box-shadow: 0 0 20px 6px #c0c0c0;
}